<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoibGlseXN3aWZ0Zm9ycGxheWdyb3VuZCIsImxvY2F0aW9uIjp7InJlbW90
		ZSI6W3sidXJsU3RyaW5nIjoiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL3dka2tc
		L0xpbHlTd2lmdEZvclBsYXlncm91bmQuZ2l0In1dfSwicHJvZHVjdEZpbHRl
		ciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91bmQi
		OiI0LjkuNSIsInVwcGVyQm91bmQiOiI1LjAuMCJ9XX19XX1dLCJkaXNwbGF5
		TmFtZSI6IlN3aWZ0VUlfTGlseTUiLCJwYWNrYWdlS2luZCI6eyJyb290Ijp7
		fX0sInBsYXRmb3JtcyI6W3sib3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6
		ImlvcyIsInZlcnNpb24iOiIxNi4wIn1dLCJwcm9kdWN0cyI6W3sibmFtZSI6
		IlN3aWZ0VUlfTGlseTUiLCJzZXR0aW5ncyI6W3siYnVuZGxlSWRlbnRpZmll
		ciI6WyJqcC5jby53ZGtrLlN3aWZ0VUktTGlseTUiXX0seyJ0ZWFtSWRlbnRp
		ZmllciI6WyJONkRSVDlQMzNTIl19LHsiZGlzcGxheVZlcnNpb24iOlsiMS4w
		Il19LHsiYnVuZGxlVmVyc2lvbiI6WyIxIl19LHsiaU9TQXBwSW5mbyI6W3si
		YWNjZW50Q29sb3IiOnsiYXNzZXQiOnsibmFtZSI6IkFjY2VudENvbG9yIn19
		LCJhcHBDYXRlZ29yeSI6eyJyYXdWYWx1ZSI6InB1YmxpYy5hcHAtY2F0ZWdv
		cnkuZWR1Y2F0aW9uIn0sImFwcEljb24iOnsiYXNzZXQiOnsibmFtZSI6IkFw
		cEljb24ifX0sImNhcGFiaWxpdGllcyI6W10sInN1cHBvcnRlZERldmljZUZh
		bWlsaWVzIjpbInBhZCIsInBob25lIl0sInN1cHBvcnRlZEludGVyZmFjZU9y
		aWVudGF0aW9ucyI6W3sicG9ydHJhaXQiOnt9fSx7ImxhbmRzY2FwZVJpZ2h0
		Ijp7fX0seyJsYW5kc2NhcGVMZWZ0Ijp7fX0seyJwb3J0cmFpdFVwc2lkZURv
		d24iOnsiY29uZGl0aW9uIjp7ImRldmljZUZhbWlsaWVzIjpbInBhZCJdfX19
		XX1dfV0sInRhcmdldHMiOlsiQXBwTW9kdWxlIl0sInR5cGUiOnsiZXhlY3V0
		YWJsZSI6bnVsbH19XSwidGFyZ2V0TWFwIjp7IkFwcE1vZHVsZSI6eyJkZXBl
		bmRlbmNpZXMiOlt7InByb2R1Y3QiOlsiTGlseVN3aWZ0Rm9yUGxheWdyb3Vu
		ZCIsIkxpbHlTd2lmdEZvclBsYXlncm91bmQiLG51bGwsbnVsbF19XSwiZXhj
		bHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJwYWNrYWdlQWNjZXNzIjp0
		cnVlLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpbXSwi
		dHlwZSI6ImV4ZWN1dGFibGUifX0sInRhcmdldHMiOlt7ImRlcGVuZGVuY2ll
		cyI6W3sicHJvZHVjdCI6WyJMaWx5U3dpZnRGb3JQbGF5Z3JvdW5kIiwiTGls
		eVN3aWZ0Rm9yUGxheWdyb3VuZCIsbnVsbCxudWxsXX1dLCJleGNsdWRlIjpb
		XSwibmFtZSI6IkFwcE1vZHVsZSIsInBhY2thZ2VBY2Nlc3MiOnRydWUsInBh
		dGgiOiIuIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOltdLCJ0eXBlIjoi
		ZXhlY3V0YWJsZSJ9XSwidG9vbHNWZXJzaW9uIjp7Il92ZXJzaW9uIjoiNS42
		LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		0kMWJvEjW7WWn/alL16X1z8veFvAekTYuNGnLMIVHwA=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.9.0</string>
	</dict>
</dict>
</plist>
